.about{
  width: 300px;
  height: 500px;
  text-align: justify;
  position: absolute;
top: 60%;
  font-size: 20px;
  right: 5%;
  text-justify: inter-word;
}
.image{
  position: absolute;
  height: 5%;
  top: 20%;
    right: 5%;
}
body{
  background-color:  #9da598  ;
}
.ghillie02{
  text-align: center;
font-size: 50px;
  font-family: monospace;
  color: darkgreen;
}
.extex{
  font-size: 30px;
  position: absolute;
  top: 15%;
  left: 5%;
}

a:link {
  color: black;
  font-size: 30px;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  font-size: 30px;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  font-size: 30px;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  font-size: 30px;
  background-color: transparent;
  text-decoration: none;
}
